<article>
    <img class="listing-photo" [src]="post?.image"
      alt="Exterior photo of {{post?.name}}"/>
    <section class="listing-description">
      <h2 class="listing-heading">{{post?.name}}</h2>
      <!-- <p class="listing-location">{{post?.city}}, {{housingLocation?.state}}</p> -->
    </section>
    <section class="listing-features">
      <h2 class="section-heading">About</h2>
      <ul>
        <li>Description: {{post?.description}}</li>
        <!-- <li>Does this location have wifi: {{po?.wifi}}</li>
        <li>Does this location have laundry: {{housingLocation?.laundry}}</li> -->
      </ul>
    </section>
  </article>